<script type="text/javascript">
    //Working with cookie

    function createCookie(cookieName, cookieValue, daysToExpire) {
        var date = new Date();
        date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
        document.cookie = cookieName + "=" + cookieValue + "; expires=" + date.toGMTString();
    }

    function accessCookie(cookieName) {
        var name = cookieName + "=";
        var allCookieArray = document.cookie.split(';');
        for (var i = 0; i < allCookieArray.length; i++) {
            var temp = allCookieArray[i].trim();
            if (temp.indexOf(name) == 0)
                return temp.substring(name.length, temp.length);
        }
        return "";
    }
</script>

<script type="text/javascript">

    /*===================
     OWL Carousel
      ===================*/

    jQuery(document).ready(function () {
        var carousel = $('#myCarousel')
        jQuery("#myCarousel").click(function () {
            carousel.carousel('pause');
        })
    });


</script>

<script type="text/javascript">
    /*===================
  3.popup sign in & register
   ===================*/


    $("#login-menu").leanModal({top: 130, overlay: 0.6, closeButton: ".modal_close"});

    $(function () {
        // Calling Login Form
        $("#login_form").click(function () {
            $(".social_login").hide();
            $(".user_login").show();
            return false;
        });

        // Calling Register Form
        $("#register_form").click(function () {
            $(".social_login").hide();
            $(".user_register").show();
            $(".header_title").text('Регистрация');
            return false;
        });

        // Going back to Social Forms
        $(".back_btn").click(function () {
            $(".user_login").hide();
            $(".user_register").hide();
            $(".social_login").show();
            $(".header_title").text('Авторизация');
            return false;
        });

    })
</script>

<script type="text/javascript">
    $(function () {
        /*===================
        User subscribe form
         ====================*/
        var subscribe_form = $('#subscribeForm');
        subscribe_form.submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'api:subscriber' %}",
                data: subscribe_form.serialize(),
                success: function (response) {
                    if (response.OK) {
                        $('#result').html('Спасибо, вы успешно подписаны.');
                    }
                    else {
                        $('#result').html('Вы уже подписаны.');
                    }
                },
                error: function (error) {
                    $('#result').html("Произошла ошибка.");
                }
            })
        })

        /*===================
        User login form
         ====================*/
        var login_form = $('#user_login_form');
        login_form.submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'api:login' %}",
                data: login_form.serialize(),
                success: function (response) {
                    if (response.OK) {
                        location.reload();
                    }
                    else {
                        $('#error_user_login_form').text(response.error)
                    }
                },
                error: function (error) {
                    $('#error_user_login_form').text("Произошла ошибка.")
                }
            })
        })

        /*===================
        User registration form
         ====================*/
        var register_form = $('#user_register_form');
        register_form.submit(function (e) {
            var is_success = false;
            var username = $("#user_register_form #id_username");
            var email = $("#user_register_form #id_email");
            var id_password = $("#user_register_form #id_password");
            var id_double_password = $("#user_register_form #id_double_password");
            e.preventDefault();
            console.log(id_password.val(), id_double_password.val(), id_double_password.val().length > 7)
            if ((id_password.val() === id_double_password.val()) &&
                (id_password.val().length > 7) && (id_double_password.val().length > 7)) {
                is_success = true;

            }
            else {
                $("#passwordHelp").text('Пароли не совпадают или длина меньше 8 символов').css('display', 'block');
                $("#password_check").addClass('has-error')
            }
            if (is_success === true) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'api:registration' %}",
                    data: register_form.serialize(),
                    success: function (response) {
                        if (response.OK) {
                            $('#modal').hide();
                            swal('Благодарим за регистрацию, '
                                + username.val()
                                + '. Пройдите по ссылке, отправленной вам на почту - ' + email.val()
                                + ', чтобы подтвердить аккаунт');

                            setTimeout(function () {
                                location.reload()
                            }, 3000);
                        }
                        else {
                            $('#error_user_login_form').text(response.error)
                        }
                    },
                    error: function (error) {
                        $('#error_user_login_form').text("Произошла ошибка регистрации.")
                    }
                })
            }
        })

    })
</script>

<script type="text/javascript">
    $(function () {
        /*==================
         Analogue search from file
         ==================*/

        $('#file-upload').change(function () {
            if ($(this).val() !== '') $(this).prev().text('Выбран файл: ' + $(this)[0].files[0].name);
            else $(this).prev().text('Загрузить файл');
        });

        var specification_search_form = $('#specification_search_form');

        specification_search_form.submit(function (e) {
            e.preventDefault();

            if ($('#file-upload')[0].files.length === 0) {
                swal("Внимание", "Пожалуйста, выберите файл!", "info");
                return '';
            }

            {% if not request.user.is_authenticated %}
                swal("Внимание", "Пожалуйста, авторизуйтесь, чтобы продолжить пользоваться сервисом", "info");
                return '';
            {% endif %}

            var data = new FormData();
            data.append('file', $('#file-upload')[0].files[0]);
            data.append('data', specification_search_form.serialize());
            data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            data.append('manufacturer_to', $('#manufacturer_to').val());

            $.ajax({
                type: "POST",
                url: "{% url 'app:search_from_file' %}",
                data: data,
                cache: false,
                async: true,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (data) {
                    if (data.OK) {
                        var link = document.createElement("a");
                        link.href = "/" + data.file;
                        link.text = "скачать";
                        swal('Файл с результатом поиска отправлен на почту {{ request.user.email }} ' + '\n или вы можете скачать его по ссылке ниже:', {
                            content: link
                        })
                    }
                    else {
                        swal('Произошла ошибка')
                    }
                },
                error: function (error) {
                    swal('Произошла ошибка')
                }
            })


        });
        /*==================
         Analogue search from article
         ==================*/

        var form = $('#form');
        form.submit(function (e) {
            e.preventDefault();

            var attempt_count = +accessCookie('attempt_count');
            {% if not request.user.is_authenticated %}
                if (attempt_count > 10) {
                    swal("Ошибка!", "Пожалуйста, авторизуйтесь, чтобы продолжить пользоваться сервисом", "info");
                    {#$('#modal').modal("toggle");#}
                    return '';
                }
            {% endif %}

            $.ajax({
                type: "POST",
                url: "{% url 'api:search' %}",
                {#async: false,#}
                data: form.serialize(),
                success: function (data) {
                    if (data.error) {
                        {#alert(data.error);#}
                        swal("Внимание!", data.error, {
                            {#content: ,#}
                            buttons: {
                                cancel: "Ok",
                                error: {
                                    text: "Сообщить об ошибке",
                                    value: "report_an_error",
                                    className: "report_an_error_class_visible"
                                }
                            }}).then(function (value) {
                            switch (value) {

                                case "report_an_error":
                                    swal("Спасибо", "Вы можете оставить свою почту и мы вам сообщим, " +
                                        "как только исправим неточность", {
                                        content: {
                                            element: "input",
                                            attributes: {
                                                placeholder: "Введите ваш email",
                                                type: "email",
                                                id: "email_for_report_an_error",
                                            }
                                        }
                                    }).then(function () {
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'api:report_an_error' %}",
                                            data: JSON.stringify({
                                                'report': 'an_error',
                                                'original_article': $('#article').val(),
                                                'email': $('#email_for_report_an_error').val()
                                            })
                                        })
                                    });
                                    break;

                                default:
                                    swal.close();
                                    break;
                            }


                        });
                    }
                    else {
                        createCookie("attempt_count", attempt_count + 1, 10);

                        function buildTable(data, image) {
                            console.log(data);
                            var table = document.createElement("table");
                            table.className = "table table-hover mb-0";
                            table.id = 'table-info';
                            table.style.display = "none";
                            var thead = document.createElement("thead");
                            var tbody = document.createElement("tbody");
                            var headRow = document.createElement("tr");
                            thead.appendChild(headRow);
                            table.appendChild(thead);
                            data.forEach(function (el) {
                                var tr = document.createElement("tr");
                                var td1 = document.createElement("td");
                                td1.appendChild(document.createTextNode(el["original"]["name"]));
                                tr.appendChild(td1);
                                var td2 = document.createElement("td");
                                td2.appendChild(document.createTextNode(el["original"]["value"]));
                                tr.appendChild(td2);
                                var td3 = document.createElement("td");
                                td3.appendChild(document.createTextNode(el["analog"]["value"]));
                                tr.appendChild(td3);
                                tbody.appendChild(tr);
                            });

                            if (image) {
                                var tr = document.createElement("tr");
                                var td = document.createElement("td");
                                td.setAttribute("colspan", 3);
                                var img = document.createElement("img");
                                img.src = image;
                                img.alt = "image";
                                td.appendChild(img);
                                tr.appendChild(td);
                                tbody.appendChild(tr);
                            }
                            table.appendChild(tbody);
                            return table;
                        }

                        swal("Артикул: " + data.result.join(' ;'), {
                            content: buildTable(data.info, data.image),
                            buttons: {
                                cancel: "Закрыть",
                                catch: {
                                    id: "22",
                                    text: "Показать информацию",
                                    value: "select",
                                    closeModal: false
                                },
                                error: {
                                    text: "Сообщить об ошибке",
                                    value: "report_an_error",
                                    className: "report_an_error_class"
                                }
                                {#defeat: true,#}
                            }
                        }).then(function (value) {
                            switch (value) {

                                case "select":
                                    $('#table-info').show('slow');
                                    swal.stopLoading();
                                    $('.swal-button--catch').css('display', 'none');
                                    $('.report_an_error_class').css('display', 'block')
                                        .click(function () {
                                            {#swal.stopLoading();#}
                                            {#console.log('click enabled!, swal!!')#}
                                            swal("Спасибо", "Вы можете оставить свою почту и мы вам сообщим, " +
                                                "как только исправим неточность", {
                                                content: {
                                                    element: "input",
                                                    attributes: {
                                                        placeholder: "Введите ваш email",
                                                        type: "email",
                                                        id: "email_for_report_an_error",
                                                    }
                                                }
                                            }).then(function () {
                                                $.ajax({
                                                    type: "POST",
                                                    url: "{% url 'api:report_an_error' %}",
                                                    {#async: false,#}
                                                    data: JSON.stringify(
                                                        {
                                                            'report': 'an_error',
                                                            'result_pk': data['result_pk'],
                                                            'original_pk': data['original_pk'],
                                                            'email': $('#email_for_report_an_error').val()
                                                        })
                                                })
                                            });
                                        });
                                    break;
                                case "report_an_error":
                                {#swal.stopLoading();#}
                                    swal("Спасибо", "Вы можете оставить свою почту и мы вам сообщим, " +
                                        "как только исправим неточность", {
                                        content: {
                                            element: "input",
                                            attributes: {
                                                placeholder: "Введите ваш email",
                                                type: "email"
                                            }
                                        }
                                    }).then(function () {
                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'api:report_an_error' %}",
                                            {#async: false,#}
                                            data: data
                                        })
                                    });
                                    break;

                                default:
                                    swal.close();
                                    break;
                            }
                        });
                    }
                    console.log('Success', data);

                },
                error: function (data) {
                    swal("Сбой поиска!", "Произошла системная ошибка", "warning");
                    {#alert('Произошла системная ошибка');#}
                    console.log('Error', data)
                }
            })
        });


        /*==================
         Select manufacturer
         ==================*/
        var manufactures = $('.manufacturers');
        $('#btn_manufacturer_article').attr('data-id_manufacturer', manufactures[0].id)
            .html(manufactures[0].text + '<span class="caret"></span>');
        $('#btn_manufacturer_file').attr('data-id_manufacturer', manufactures[0].id)
            .html(manufactures[0].text + '<span class="caret"></span>');

        manufactures.click(function (self) {
            console.log(self.target.id, self);
            $('#btn_manufacturer_file').html(self.target.text + '<span class="caret"></span>')
                .attr('data-id_manufacturer', self.target.id);
            $('#btn_manufacturer_article').html(self.target.text + '<span class="caret"></span>')
                .attr('data-id_manufacturer', self.target.id);
            $('#manufacturer_to').val(self.target.id);
        })
    });
</script>

<script type="text/javascript">
    $(function () {
        /*==================
         Jquery autocomplete
         ==================*/
        $("#article").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'api:search' %}",
                    data: {
                        article: request.term
                    },
                    success: function (data) {
                        console.log(data);
                        response(data);

                    }
                });

            },
            minLength: 2,
            select: function (event, ui) {
                console.log(event, ui);
                {#console.log( "Selected: " + ui.item.value + " aka " + ui.item.id );#}
            }
        })
            .autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li>")
                .append("<div>" + item.value + " (" + item.manufacturer__title + ") " + "<br>" + item.title + "</div>")
                .appendTo(ul);
        };

        /*==================
        Check registration
        ==================*/
        {% if confirm_email %}
            swal('Спасибо за регистрацию, {{ request.user }}. Ваш аккаунт подтверждён');
            setTimeout(function () {
                window.location.href = "{% url 'app:landing_home' %}"
            }, 3000);

        {% endif %}
    });

    function redirect(url) {
        window.location.href = url;
    }
</script>