{% extends 'admin/base.html' %}
{% load i18n static jet_tags %}
{% block extrahead %}
    {{ block.super }}

{% endblock %}

{% block blockbots %}
    {{ block.super }}
    <!-- FIXING SELECT 2 JQUERY ISSUE-->
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' as url %}{{ url|jet_append_version }}"
            type="text/javascript"></script>
    <script src="{% static 'admin/js/jquery.init.js' as url %}{{ url|jet_append_version }}"></script>
{% endblock %}
{% block content %}
    <style>
        input[type=checkbox] {
            display: inline-block;
        }
    </style>
    {% if Results %}
        <div style="width: 30%;min-height: 150px;float: left;">
            <h2>Исходный продукт</h2>
            <p>Артикул: {{ Product.article }}</p>
            <p>Наименование: {{ Product.title }}</p>
            <p>Класс: {{ Product.category.parent.title }} --> {{ Product.category.title }}</p>
            <p>Производитель: {{ Product.manufacturer }}</p>
            <table>
                {% for attr in Product.attrs_vals.all %}
                    <tr>
                        <td>{{ attr }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div style="width: 70%;min-height: 150px;margin-left: 30%;">
            <h2>Найден {{ Results.count }} продукт(-a, -ов)</h2>
            {% for result in Results %}
                <p>Артикул: {{ result.article }}</p>
                <p>Наименование: {{ result.title }}</p>
                <p>Класс: {{ result.category.parent.title }} --> {{ result.category.title }}</p>
                <p>Производитель: {{ result.manufacturer }}</p>
                <table>
                    {% for attr in result.attrs_vals.all %}
                        <tr>
                            <td>{{ attr }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    {% endif %}

    {% if Error.val %}
        <h3>{{ Error.msg }}</h3>
    {% endif %}

    {% if form %}
        <form action="/search/" method="post">
            <h3>Поиск аналогов</h3>
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {#        <p>------------------</p>#}
            {#        {% for field in advanced_form %}#}
            {#            <div class="fieldWrapper">#}
            {#                {{ field.errors }}#}
            {#                {{ field.label_tag }} {{ field }}#}
            {#            </div>#}
            {#        {% endfor %}#}
            <input type="submit" value="Искать"/>
        </form>
    {% endif %}


{% endblock %}

