{% load staticfiles %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div id="lp-pom-block-10" style="height: 520px;">
        <div class="banner-dot" style="height: 520px">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="baaner-container">
                <div class="carousel-inner">
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption"
                                 style="object-fit: cover;border-radius: 5px;background-size: cover;background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'landing_images/item1.jpg' %})">
                                {#      linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))                  #}
                                {#                <p class="main-image"><img src="{% static 'images/icon1.png' %}" alt="" /></p>#}
                                <div class="letter-container">
                                    <h1><a>Подбор аналогов в категории кабельных лотков</a></h1>
                                </div>
                                <p class="banner-text">Система поиска позволяет по заданному товару (артикулу),
                                    найти товар-аналог другого производителя.
                                    Система предлагает товар-аналог,
                                    с учетом технических характеристик
                                </p>
                                <p class="carousel-btn-p">
                                    <a class="blue-button style-button" role="button" href="#myCarousel"
                                       data-slide="prev">
                                        {#                                        <i class="fa fa-arrow-left hvr-icon"></i> #}
                                        Поиск по спецификации
                                    </a>
                                    {#                                    <a class="blue-button wobble-horizontal" role="button" href="#myCarousel"#}
                                    {#                                       data-slide="prev">Информация по артикулу#}
                                    {#                                    </a>#}
                                    <a class="blue-button style-button" role="button" href="#myCarousel"
                                       data-slide="next">Поиск по артикулу
                                        {#                                        <i class="fa fa-arrow-right hvr-icon"></i>#}
                                    </a>
                                    {#                    <a class="green-button wobble-horizontal" href="#" role="button">Подробнее </a>#}
                                    {#                    <a class="blue-button wobble-horizontal" href="#" role="button">Попробовать </a>#}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption"
                                 style="background-size: cover;border-radius: 5px;background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'landing_images/item3.jpg' %})">
                                {#                <p class="main-image"><img src="{% static 'images/icon1.png' %}" alt="" /></p>#}
                                <div class="letter-container">
                                    <h1><a href="#">Поиск аналога по артикулу</a></h1>
                                </div>
                                <h2></h2>
                                {#                <div class="container">#}
                                <div class="row" style="margin-top: 40px;">
                                    <div class="col-md-11 col-md-offset-1">
                                        <form action="{% url 'api:search' %}" method="post" id="form">
                                            {% csrf_token %}
                                        <input type="hidden" name="pk" id="pk" value="">
                                            {#                                            <input type="hidden" name="advanced_search" value="False">#}
                                            <input type="hidden" name="manufacturer_to" id="manufacturer_to"
                                                   value="{{ manufacturers.first.id }}">
                                            {#                                            <input type="hidden" name="manufacturer_from" id="manufacturer_from" value="{{ manufacturers.first.id }}">#}
                                            <div class="input-append" style="    margin-top: 50px;">
                                                <input class="search" type="text" name="article" id="article"
                                                       placeholder="Введите номер артикула">
                                                <div class="btn-group">
                                                    <button class="btn dropdown-toggle btn-border"
                                                            data-toggle="dropdown"
                                                            data-id_manufacturer=false id="btn_manufacturer_article"
                                                            style="min-width: 100px;"> {{ manufacturers.first }}
                                                        <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        {% for manufacturer in  manufacturers %}
                                                            <li><a href="#" class="manufacturers"
                                                                   id="{{ manufacturer.id }}"> {{ manufacturer }} </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <input type="submit" class="search-area search-btn style-button"
                                                   value="Искать"/>
                                            {#                                                <p class="search-area"><a href="#" class="search-btn">Искать </a></p>#}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption"
                                 style="background-size: cover;border-radius: 5px;background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'landing_images/item2.jpg' %})">
                                <div class="letter-container">
                                    <h1><a href="#">Поиск аналога по спецификации</a></h1>
                                </div>
                                <h2></h2>
                                <form action="{% url 'api:search' %}" enctype="multipart/form-data"
                                      method="post" id="specification_search_form">
                                    {% csrf_token %}
                                    <div class="row" style="margin-top: 40px;">
                                        <div class="col-md-7 col-md-offset-2 col-lg-8 ">
                                            <input type="hidden" name="manufacturer_to" id="manufacturer_to"
                                                   value="{{ manufacturers.first.id }}">
                                            <div class="input-append" style="    margin-top: 50px;">
                                                <label for="file-upload" class="custom-file-upload search"
                                                       style="height: 56px;">
                                                    <i class="fa fa-cloud-upload fa-inverse"></i> Загрузить файл
                                                </label>
                                                <input id="file-upload" name="file" type="file"
                                                       accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                                                <div class="btn-group">
                                                    <button class="btn dropdown-toggle btn-border"
                                                            data-toggle="dropdown"
                                                            data-id_manufacturer=false id="btn_manufacturer_file"
                                                            style="min-width: 100px;"> {{ manufacturers.first }}
                                                        <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        {% for manufacturer in  manufacturers %}
                                                            <li><a href="#" class="manufacturers"
                                                                   id="{{ manufacturer.id }}"> {{ manufacturer }} </a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input type="submit" class="search-area search-btn style-button"
                                               value="Искать"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                        href="#myCarousel"
                                                                        data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
        {#      <div class="banner-arrow">#}
        {#        <p class="pulse"><a href="#choose"><img src="{% static 'images/arrow-bottom.png' %}" alt=""/></a></p>#}
        {#      </div>#}
    </div>
</div>