{% load staticfiles %}

<div id="service_work" class="service-container">
    <div class="container">
        <div class="row main-head">
            <div class="col-md-12">
                {#        <h1>What's features in our hosting</h1>#}
                <h2>Поиск по артикулу</h2>
                <div class="row how-row">
                    <div class="col-md-4">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Введите исходные данные </h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">Укажите артикул товара, для которого надо найти аналог.
                                Выберите производителя По заданному артикулу система находит товар-аналог другого производителя. Поиск происходит с учетом технических характеристик товара. </p>
                            {#                        </div>#}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Результат </h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">В окне результата Вы получите артикул товара-аналога, максимально соответствующего по своим свойствам исходному товару. Нажав на соответствующую кнопку, можно увидеть подробные технические характеристики. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Суперпоиск </h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">Система позволяет изменить параметры поиска с учетом дополнительных требований пользователя. Для этого необходимо воспользоваться кнопкой «Открыть расширенную форму» и выбрать соответствующие параметры. В этом случае будет найден товар, максимально соответствующий заданным характеристикам. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>