{% load staticfiles %}

<div id="service_work" class="service-container">
    <div class="container">
        <div class="row main-head">
            <div class="col-md-12">
                {#        <h1>What's features in our hosting</h1>#}
                <h2>Поиск по спецификации</h2>
                <div class="row how-row">
                    <div class="col-md-6">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service wide-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Поиск сразу нескольких артикулов </h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">Функция позволяет найти товары-аналоги сразу для списка исходных артикулов. Для этого необходимо выбрать исходный файл. Файл должен быть в формате EXCEL(xls или xlsx), в котором первый столбец должен содержать артикулы, по которым будет проводиться поиск. </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service wide-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Результат </h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">Результаты поиска будут сохранены в файле. Файл будет отправлен на электронный адрес, указанный при регистрации. Для пользования функцией регистрация обязательна. Регистрация бесплатная. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>