{% load staticfiles %}

<div id="service_work" class="service-container">
    <div class="container">
        <div class="row main-head">
            <div class="col-md-12">
                {#        <h1>What's features in our hosting</h1>#}
                <h2>{{ text.search_by_specification.h2 }}</h2>
                <div class="row how-row">
                    <div class="col-md-6">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service wide-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{ text.search_by_specification.section1.h3 }}</h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">{{ text.search_by_specification.section1.p }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-howcard-row">
                        </div>
                        <div class="how-service wide-section">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{ text.search_by_specification.section2.h3 }}</h3>
                                </div>
                            </div>
                            <p class="card-text mb-auto">{{ text.search_by_specification.section1.p }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>