{% load staticfiles %}

<div id="service_work" class="service-container">
    <div class="container">
        <div class="row how-row">
            <div class="col-md-12 col-md-offset-3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GQvHIiOjuNk" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        origin="analogpro.ru"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>