{% load staticfiles %}

<div id="service_work" class="service-container">
    <div class="container">
        <div class="row how-row">
            <div class="col-md-12 col-md-offset-3 col-sm-11 col-sm-offset-1">
                <iframe style="max-width: 560px"
                        width="100%"
                        height="315"
                        src="https://www.youtube.com/embed/GQvHIiOjuNk"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/GQvHIiOjuNk?autoplay=1><img src=https://img.youtube.com/vi/GQvHIiOjuNk/hqdefault.jpg alt='Video AnalogPro: What Went Wrong?'><span>▶</span></a>"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        title="analogPro.ru - сервис подбора аналогов кабельных лотков"
                ></iframe>
            </div>
        </div>
    </div>
</div>