{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>AnalogService</title>
{#		<meta name="description" content="Jetson is a Dashboard & Admin Site Responsive Template by hencework." />#}
{#		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Jetson Admin, Jetsonadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />#}
		<meta name="author" content="hencework"/>

		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!-- vector map CSS -->
		<link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>


		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
    {% block body %}
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->

        <div class="wrapper pa-0">
            {% block header %}
{#                todo: there should be a universal slug#}
            {% endblock header %}

            {% block content %}
{#			todo: this should be заглушка#}
            {% endblock content %}

		</div>
		<!-- /#wrapper -->

		<!-- JavaScript -->
        {% block js %}
            <!-- jQuery -->
            <script src="{% static 'js/jquery.min.js' %}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

            <!-- Slimscroll JavaScript -->
            <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

            <!-- Init JavaScript -->
            <script src="{% static 'js/init.js' %}"></script>
        {% endblock js %}
    {% endblock body %}
	</body>
</html>
