{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
    .accordion-struct.panel-group .panel .panel-heading a {
        text-transform: unset;
    }
    </style>
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">FAQ</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'app:home' %}">Главная</a></li>
                        <li><a href="{% url 'app:faq_page' %}">Faq</a></li>
                        {#                        <li><a href="#"><span>table</span></a></li>#}
                        {#                        <li class="active"><span>View</span></li>#}
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pa-15">
                                <div class="panel-group accordion-struct" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading activestate" role="tab" id="headingFive">
                                            <a role="button" data-toggle="collapse" href="#collapseFive"
                                               aria-expanded="true" aria-controls="collapseFive">Что делает система
                                                ?</a>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse in"
                                             role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body pa-15"> Система поиска позволяет по заданному
                                                товару (артикулу), <strong>найти товар-аналог</strong>
                                                другого производителя. Система ориентирована на поиск
                                                товаров-аналогов, с учетом
                                                технических характеристик. Это очень актуально при «переводе»
                                                спецификации
                                                одного производителя на аналоги другого производителя.
                                                Это очень полезно, например, если вы электромонтажная
                                                организация или
                                                проектировщик, и вам необходимо быстро «перевести спецификацию с
                                                одного
                                                производителя на другого».<br>
                                                <strong>Пока поиск выполняется в очень распространенной категории
                                                    «кабеленесущие
                                                    системы» (кабельные лотки)</strong> <br><br>
                                                Количество Торговых марок/Производителей а также товарные
                                                категории, среди
                                                которых выполняется поиск, <strong>постоянно расширяется</strong>. Если
                                                вы не
                                                нашли требуемого
                                                производителя, напишите, пожалуйста, на наш адрес –
                                                <a
                                                        href="mailto:user@analogpro.ru?subject=Не нашёл производителя">user@analogpro.ru</a>
                                                мы ускорим
                                                работу именно по этому производителю и сообщим вам о готовности.
                                                Кроме того, если Вы заметили некорректности в работе поиска,
                                                большая просьба
                                                сообщить нам об этом по адресу - <a
                                                        href="mailto:user@analogpro.ru?subject=Проблема с поиском">user@analogpro.ru</a>
                                                для
                                                устранения неточностей.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                               aria-controls="collapseSix">Поиск товара-аналога по артикулу</a>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSix">
                                            <div class="panel-body pa-15"> Введите артикул товара, для которого
                                                необходимо найти аналог. Укажите исходного
                                                производителя, а затем выберите производителя, в ассортименте
                                                которого
                                                необходимо найти аналог.
                                                В окне результата Вы получите артикул товара-аналога,
                                                максимально
                                                соответствующего по своим свойствам исходному товару. Нажав на
                                                соответствующую кнопку, можно <strong>сравнить технические
                                                    характеристики.</strong> <br>
                                                Система позволяет изменить параметры поиска с учетом
                                                дополнительных
                                                требований пользователя. Для этого необходимо воспользоваться
                                                кнопкой <strong>«Открыть
                                                    расширенную форму»</strong> и выбрать соответствующие параметры
                                                поиска. В
                                                этом
                                                случае в поиске будет выбран товар, максимально соответствующий
                                                исходному
                                                товару с учетом выбранных параметров поиска.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingSeven">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               href="#collapseSeven" aria-expanded="false"
                                               aria-controls="collapseSeven">Подбор товаров-аналогов по
                                                спецификации</a>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="headingSeven">
                                            <div class="panel-body pa-15"> Эта функция позволяет проводить поиск
                                                товара-аналога по артикулу по
                                                спецификации. Для этого, необходимо выбрать исходный файл. Есть
                                                некоторые
                                                несложные требования к файлу спецификации:
                                                <br>
                                                <ol style="margin-left: 30px;">
                                                    <li> Файл должен быть в формате EXCEL(xls или xlsx)</li>
                                                    <li> Первый столбец (обязательно поле) - артикулы по которым
                                                        производится поиск
                                                    </li>
                                                    <li> Второй столбец (необязательно поле) – количество товара
                                                    </li>
                                                </ol>
                                                <br>
                                                В работе функции предусмотрена возможность корректировки
                                                количества товара.
                                                Например:<br>
                                                Исходный товар – лоток длиной 3000мм, количество 15шт<br>
                                                Найден товар-аналог – лоток длиной 2500мм, количество 18шт<br>
                                                По умолчанию будет предложен товар-аналог максимально
                                                соответствующий
                                                исходному, в том числе – по длине. Однако, если полностью
                                                соответствующего
                                                товара не будет найдено, будет предложен товар максимально
                                                близкий, а количество
                                                будет соответственно пересчитано – как указано в примере.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main content -->
            <!-- Row -->
            <div class="row">

            </div>

        </div>
    </div>
{% endblock content %}


{% block extra_css %}
    <!-- Data table CSS -->
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block extra_js %}
    <!-- Data table JavaScript -->
    <script src="{% static  'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables-data.js' %}"></script>
    <!-- Owl JavaScript -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- Switchery JavaScript -->
    <script src="{% static 'js/switchery.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>
    {#    todo: copy js into local folder#}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock extra_js %}