{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Интерфейс клиента</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'app:home' %}">Главная</a></li>
                        {#                        <li><a href="index.html">DataBase</a></li>#}
                        {#                        <li><a href="#"><span>table</span></a></li>#}
                        {#                        <li class="active"><span>View</span></li>#}
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->


            <!-- Main content -->
            {% if form %}
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">Поиск аналогов</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-wrap">
                                                <form action="/search/" method="post" id="form">
                                                    <div class="form-body">
                                                        <h6 class="txt-dark capitalize-font"><i
                                                                class="zmdi zmdi-account mr-10"></i>Основная информация
                                                        </h6>
                                                        <hr class="light-grey-hr"/>
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group {{ form.article.error_messages }}">
                                                                    <label class="control-label mb-10">{{ form.article.label }}</label>
                                                                    {{ form.article }}
{#                                                                    <input type="text" id="firstName"#}
{#                                                                           class="form-control"#}
{#                                                                           placeholder="John doe">#}
                                                                    <span class="help-block">{{ form.article.help_text}} </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group has-error">
                                                                    <label class="control-label mb-10">{{ form.manufacturer_from.label }}</label>
                                                                    {{ form.manufacturer_from }}
{#                                                                    <input type="text" id="lastName"#}
{#                                                                           class="form-control" placeholder="12n">#}
                                                                    <span class="help-block"> {{ form.manufacturer_from.help_text }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group has-error">
                                                                    <label class="control-label mb-10">{{ form.manufacturer_to.label }}</label>
                                                                    {{ form.manufacturer_to }}
                                                                    <span class="help-block"> {{ form.manufacturer_to.help_text }}</span>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>

                                                        <div class="form-actions mt-10">
                                                            <input type="submit" class="btn btn-success mr-10"
                                                                   value="Искать"/>
                                                            <button type="button" id="showAdvancedForm" class="btn btn-default">Открыть расширенную форму
                                                            </button>
                                                        </div>
                                                        <!-- /Row -->
                                                        <div id="advForm">
                                                            <div class="seprator-block"></div>

                                                            <h6 class="txt-dark capitalize-font"><i
                                                                    class="zmdi zmdi-account-box mr-10"></i>Расширенная
                                                                информация</h6>
                                                            <hr class="light-grey-hr"/>

{#                                                            <div class="row">#}
{#                                                                <div class="col-md-12">#}
{#                                                                    <div class="form-group {{ form.article.error_messages }}">#}
{#                                                                        <label class="control-label mb-10">{{ form.article.label }}</label>#}
{#                                                                        {{ form.article }}#}
{#                                                                        <span class="help-block">{{ form.article.help_text }} </span>#}
{#                                                                    </div>#}
{#                                                                </div>#}
{#                                                            </div>#}
                                                            <input type="submit" class="btn btn-success mr-10"
                                                                   value="Искать"/>
                                                        </div>


                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}






            {##}
            {#                                            {% if form %}#}
            {#                                                <form action="/search/" method="post">#}
            {#                                                    {% csrf_token %}#}
            {#                                                    {% for field in form %}#}
            {#                                                        <div class="form-group">#}
            {#                                                            {{ field.errors }}#}
            {#                                                            <label class="control-label mb-10 text-left">{{ field.label }}</label>#}
            {#                                                            {{ field }}#}
            {#                                                        </div>#}
            {#                                                    {% endfor %}#}
            {#        <p>------------------</p>#}
            {#        {% for field in advanced_form %}#}
            {#            <div class="fieldWrapper">#}
            {#                {{ field.errors }}#}
            {#                {{ field.label_tag }} {{ field }}#}
            {#            </div>#}
            {#        {% endfor %}#}
            {#                                                    <button type="submit" class="btn btn-success mr-10">Submit</button>#}
            {#                                                    <input type="submit" class="btn btn-success mr-10" value="Искать"/>#}
            {#                                                </form>#}
            {#                                            {% endif %}#}
            {##}
            {##}
            {#                                        </div>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}

            <!-- End main content -->
        </div>
    </div>
{% endblock content %}


{% block extra_css %}
    <!-- Data table CSS -->
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block extra_js %}
    <!-- Data table JavaScript -->
    <script src="{% static  'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables-data.js' %}"></script>
    <!-- Owl JavaScript -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- Switchery JavaScript -->
    <script src="{% static 'js/switchery.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>
    <script>
        $(function () {
            var form = $('#form');
            var advform = $('#advForm');
            advform.hide();
            $('#showAdvancedForm').click(function (e) {
                if ($('#advForm:visible').length) {
                    alert('Open form');
                    //e.preventDefault();

                    advform.hide('slow');
                    $('#showAdvancedForm').text('Открыть расширенную форму')
                } else {
                    var url = form.attr('action');
                    //console.log(form.serialize());
                    {#var formData = new FormData(form);#}
                    $.ajax({
                        type: "POST",
                        url: '/api/get_product/',
                        data: form.serialize(), // serializes the form's elements.
                        success: function (data) {
                            console.log(data);
                            var insert_html = "<div class=\"seprator-block\"></div>\n" +
                                    "\n" +
                                    "<h6 class=\"txt-dark capitalize-font\"><i\n" +
                                    "class=\"zmdi zmdi-account-box mr-10\"></i>Расширенная\n" +
                                    "информация</h6>\n" +
                                    "<hr class=\"light-grey-hr\"/>";
                            for (var elem in data.result){
                                console.log(elem);
                                var slct = "";
                                for (var choice in data.result[elem].choices){
                                   slct += "  <option value=\"" + data.result[elem].choices[choice][0] + "\">" + data.result[elem].choices[choice][1]  + "</option>\n"
                                }
                                var row = "<div class=\"form-group\">" +
                                    " <label class=\"control-label mb-10\">" + data.result[elem].title + "</label>" +
                                    "<select name=\"" + elem + "\" class=\"form-control\" id=\"id_" + elem + "manufacturer_from\">\n" +
                                    slct +
                                    "</select>" +
                                    "<span class=\"help-block\"> </span></div>";
                                insert_html += row
                            }
                            insert_html += "<input type=\"submit\" class=\"btn btn-success mr-10\"\n" +
                                "                                                                   value=\"Искать\"/></div>";
                            advform.html(insert_html);
                            {#console.log(dt.success);#}
                            {#console.log(dt, JSON.parse(dt));#}
                            {#alert(JSON.parse(data)); // show response from the php script.#}
                        },
                        error: function (data) {
                            console.log(data);

                        }
                    });

                    advform.show('slow');
                    $('#showAdvancedForm').text('Закрыть расширенную форму')
                }
                {#alert('Show adnvanced form');#}

            })
        });

    </script>
{% endblock extra_js %}