{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block content %}
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock header %}

    {% block carouser %}
        {% include 'sections/carousel.html' %}
    {% endblock carouser %}

    <!--=============================Separator block=============================-->
    {#<div class="seprator-block" style="height: 20px;"></div>#}
    {% block features %}
        {% include 'sections/features.html' %}
    {% endblock features %}

    <!--=============================Separator block=============================-->
    {#<div class="seprator-block" style="height: 20px;"></div>#}

    <!--=============================Search by article=============================-->
    {% block search_article %}
        {% include 'sections/search_article.html' %}
    {% endblock search_article %}

    <!--=============================Specification Search=============================-->
    {% block search_specification %}
        {% include 'sections/search_specification.html' %}
    {% endblock search_specification %}

    <!--==============================Get in touch=============================-->
    {% block contact %}
        {% include 'sections/contact.html' %}
    {% endblock contact %}

    <!--==============================Newsletter=============================-->
    {% block newsletter %}
        {% include 'sections/newsletter.html' %}
    {% endblock newsletter %}

    <!--==============================Footer============================-->

    <!--===========================Goto top============================-->
    <a href="#" id="go-top"></a>

    <!--===============================Footer-bottom============================-->
    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock footer %}

    <!--============== Form validation JS=================-->
    <script src="{% static 'js/contact_form.js' %}" type="text/javascript"></script>

    <!--============================Sticky.js===========================-->
    <script src="{% static 'js/jquery.sticky.js' %}" type="text/javascript"></script>

    <!--============================Main.js===========================-->
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

    <!--=========================Scroll.js=========================-->
    <script src="{% static 'js/scroll.js' %}" type="text/javascript"></script>

    <!--========================Carousel.js slider=======================-->
    <script src="{% static 'js/owl.carousel.js' %}" type="text/javascript"></script>

    <!--====================Theme change js=========================-->
    <script type="text/javascript" src="{% static 'css/demo/styleswitch.js' %}"></script>

    <!--==============Ketchup=================-->
    <script src="{% static 'js/ketchup.all.js' %}" type="text/javascript"></script>

    <!--============================Bootstrap==========================-->

    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--============================Sweetalert==========================-->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--=============================jquery ui.css==============================-->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <!--=============================jquery ui.js==============================-->
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <style>
        .ui-autocomplete {
            max-height: 150px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }

        .ui-autocomplete-loading {
            background: white url("{% static 'landing_images/ui-anim_basic_16x16.gif' %}") right center no-repeat;
        }

        .ui-menu-item:active {
            background: #FFDD40 !important;
        }

        .ui-menu-item:hover {
            background: #FFDD40 !important;
        }

        .ui-menu-item:focus {
            background: #FFDD40 !important;
        }
    </style>
    <style>

        .swal-modal {
            width: 580px;
        }

        .report_an_error_class {
            background-color: #fddc3f;
            display: none;
        }

        .report_an_error_class_visible:focus {
            outline: none;
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px #fddc3f
        }

        .report_an_error_class_visible:active {
            background-color: #FDC305;
        }
        .report_an_error_class_visible:hover {
            background-color: #FDC305!important;
        }

        .report_an_error_class_visible {
            background-color: #fddc3f;
        }

        .report_an_error_class:hover {
            background-color: #E0C239 !important;
        }
    </style>

{% endblock content %}

{% block extra_js %}
    {% include 'scripts/app.html' %}
{% endblock extra_js %}