{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <style>
        .accordion-struct.panel-group .panel .panel-heading a {
            text-transform: unset;
        }
    </style>
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid pt-25">

            <!-- Main content -->
            <!-- Row -->
            <div class="row">
                <div class="col-lg-3 col-xs-12">
                    <div class="panel panel-default card-view  pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body  pa-0">
                                <div class="profile-box">
                                    <div class="profile-cover-pic">
                                        <div class="fileupload btn btn-default">
                                            <span class="btn-text">изменить</span>
                                            <input class="upload" type="file">
                                        </div>
                                        <div class="profile-image-overlay"></div>
                                    </div>
                                    <div class="profile-info text-center">
                                        <div class="profile-img-wrap">
                                            <img class="inline-block mb-10" src="dist/img/mock1.jpg" alt="user"/>
                                            <div class="fileupload btn btn-default">
                                                <span class="btn-text">изменить</span>
                                                <input class="upload" type="file">
                                            </div>
                                        </div>
                                        <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-info">{{ user.username }}</h5>
                                        <h6 class="block capitalize-font pb-20">Developer Geek</h6>
                                    </div>
                                    <div class="social-info">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <span class="counts block head-font"><span
                                                        class="counter-anim">{{ actions_count }}</span></span>
                                                <span class="counts-text block">Активность</span>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <span class="counts block head-font"><span
                                                        class="counter-anim">{{ search_count }}</span></span>
                                                <span class="counts-text block">Поисков</span>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <span class="counts block head-font"><span
                                                        class="counter-anim">{{ files_count }}</span></span>
                                                <span class="counts-text block">Файла</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-info btn-block  btn-anim mt-30" data-toggle="modal"
                                                data-target="#myModal"><i class="fa fa-pencil"></i><span
                                                class="btn-text">редактировать профиль</span></button>
                                        <div id="myModal" class="modal fade in" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">×
                                                        </button>
                                                        <h5 class="modal-title" id="myModalLabel">Редактировать
                                                            профиль</h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Row -->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="">
                                                                    <div class="panel-wrapper collapse in">
                                                                        <div class="panel-body pa-0">
                                                                            <div class="col-sm-12 col-xs-12">
                                                                                <div class="form-wrap">
                                                                                    <form action="#">
                                                                                        <div class="form-body overflow-hide">
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10"
                                                                                                       for="exampleInputuname_1">Name</label>
                                                                                                <div class="input-group">
                                                                                                    <div class="input-group-addon">
                                                                                                        <i class="icon-user"></i>
                                                                                                    </div>
                                                                                                    <input type="text"
                                                                                                           class="form-control"
                                                                                                           id="exampleInputuname_1"
                                                                                                           placeholder="willard bryant">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10"
                                                                                                       for="exampleInputEmail_1">Email
                                                                                                    address</label>
                                                                                                <div class="input-group">
                                                                                                    <div class="input-group-addon">
                                                                                                        <i class="icon-envelope-open"></i>
                                                                                                    </div>
                                                                                                    <input type="email"
                                                                                                           class="form-control"
                                                                                                           id="exampleInputEmail_1"
                                                                                                           placeholder="xyz@gmail.com">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10"
                                                                                                       for="exampleInputContact_1">Contact
                                                                                                    number</label>
                                                                                                <div class="input-group">
                                                                                                    <div class="input-group-addon">
                                                                                                        <i class="icon-phone"></i>
                                                                                                    </div>
                                                                                                    <input type="email"
                                                                                                           class="form-control"
                                                                                                           id="exampleInputContact_1"
                                                                                                           placeholder="+102 9388333">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10"
                                                                                                       for="exampleInputpwd_1">Password</label>
                                                                                                <div class="input-group">
                                                                                                    <div class="input-group-addon">
                                                                                                        <i class="icon-lock"></i>
                                                                                                    </div>
                                                                                                    <input type="password"
                                                                                                           class="form-control"
                                                                                                           id="exampleInputpwd_1"
                                                                                                           placeholder="Enter pwd"
                                                                                                           value="password">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10">Gender</label>
                                                                                                <div>
                                                                                                    <div class="radio">
                                                                                                        <input type="radio"
                                                                                                               name="radio1"
                                                                                                               id="radio_1"
                                                                                                               value="option1"
                                                                                                               checked="">
                                                                                                        <label for="radio_1">
                                                                                                            M
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div class="radio">
                                                                                                        <input type="radio"
                                                                                                               name="radio1"
                                                                                                               id="radio_2"
                                                                                                               value="option2">
                                                                                                        <label for="radio_2">
                                                                                                            F
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group">
                                                                                                <label class="control-label mb-10">Country</label>
                                                                                                <select class="form-control"
                                                                                                        data-placeholder="Choose a Category"
                                                                                                        tabindex="1">
                                                                                                    <option value="Category 1">
                                                                                                        USA
                                                                                                    </option>
                                                                                                    <option value="Category 2">
                                                                                                        Austrailia
                                                                                                    </option>
                                                                                                    <option value="Category 3">
                                                                                                        India
                                                                                                    </option>
                                                                                                    <option value="Category 4">
                                                                                                        UK
                                                                                                    </option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-actions mt-10">
                                                                                            <button type="submit"
                                                                                                    class="btn btn-success mr-10 mb-30">
                                                                                                Редактировать профиль
                                                                                            </button>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success waves-effect"
                                                                data-dismiss="modal">Сохранить
                                                        </button>
                                                        <button type="button" class="btn btn-default waves-effect"
                                                                data-dismiss="modal">Отменить
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-xs-12">
                    <div class="panel panel-default card-view pa-0">
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body pb-0">
                                <div class="tab-struct custom-tab-1">
                                    <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="myTabs_8">
                                        <li class="active" role="presentation"><a data-toggle="tab" id="profile_tab_8"
                                                                                  role="tab" href="#follo_8"
                                                                                  aria-expanded="false"><span>История</span></a>
                                        </li>

                                        <li role="presentation" class=""><a data-toggle="tab" id="earning_tab_8"
                                                                            role="tab" href="#earnings_8"
                                                                            aria-expanded="false"><span>Файлы</span></a>
                                        </li>
                                        <li role="presentation" class=""><a data-toggle="tab" id="settings_tab_8"
                                                                            role="tab" href="#settings_8"
                                                                            aria-expanded="false"><span>Настройки</span></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent_8">

                                        <div id="follo_8" class="tab-pane fade active in" role="tabpanel">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="followers-wrap">
                                                        <ul class="followers-list-wrap">
                                                            <li class="follow-list">
                                                                <div class="follo-body">
{#                                                                    <div class="follo-data">#}
{#                                                                        <img class="user-img img-circle"#}
{#                                                                             src="dist/img/user.png" alt="user"/>#}
{#                                                                        <div class="user-data">#}
{#                                                                            <span class="name block capitalize-font">Clay Masse</span>#}
{#                                                                            <span class="time block truncate txt-grey">No one saves us but ourselves.</span>#}
{#                                                                        </div>#}
{#                                                                        <button class="btn btn-success pull-right btn-xs fixed-btn">#}
{#                                                                            Follow#}
{#                                                                        </button>#}
{#                                                                        <div class="clearfix"></div>#}
{#                                                                    </div>#}
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="earnings_8" class="tab-pane fade" role="tabpanel">
                                            <!-- Row -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form id="example-advanced-form" action="#">
                                                        <div class="table-wrap">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped display product-overview"
                                                                       id="datable_1">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Дата создания</th>
                                                                        <th>Имя файла</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for file in files %}
                                                                        <tr>
                                                                            <td>{{ file.created_at }}</td>
                                                                            <td>{{ file.file.name }}</td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="settings_8" class="tab-pane fade" role="tabpanel">
                                            <!-- Row -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body pa-0">
                                                                <div class="col-sm-12 col-xs-12">
                                                                    <div class="form-wrap">
                                                                        <form action="#">
                                                                            <div class="form-body overflow-hide">
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10"
                                                                                           for="exampleInputuname_01">Name</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon">
                                                                                            <i class="icon-user"></i>
                                                                                        </div>
                                                                                        <input type="text"
                                                                                               class="form-control"
                                                                                               id="exampleInputuname_01"
                                                                                               placeholder="willard bryant">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10"
                                                                                           for="exampleInputEmail_01">Email
                                                                                        address</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon">
                                                                                            <i class="icon-envelope-open"></i>
                                                                                        </div>
                                                                                        <input type="email"
                                                                                               class="form-control"
                                                                                               id="exampleInputEmail_01"
                                                                                               placeholder="xyz@gmail.com">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10"
                                                                                           for="exampleInputContact_01">Contact
                                                                                        number</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon">
                                                                                            <i class="icon-phone"></i>
                                                                                        </div>
                                                                                        <input type="email"
                                                                                               class="form-control"
                                                                                               id="exampleInputContact_01"
                                                                                               placeholder="+7 999 999 99 99">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10"
                                                                                           for="exampleInputpwd_01">Password</label>
                                                                                    <div class="input-group">
                                                                                        <div class="input-group-addon">
                                                                                            <i class="icon-lock"></i>
                                                                                        </div>
                                                                                        <input type="password"
                                                                                               class="form-control"
                                                                                               id="exampleInputpwd_01"
                                                                                               placeholder="Enter pwd"
                                                                                               value="password">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10">Gender</label>
                                                                                    <div>
                                                                                        <div class="radio">
                                                                                            <input type="radio"
                                                                                                   name="radio1"
                                                                                                   id="radio_01"
                                                                                                   value="option1"
                                                                                                   checked="">
                                                                                            <label for="radio_01">
                                                                                                M
                                                                                            </label>
                                                                                        </div>
                                                                                        <div class="radio">
                                                                                            <input type="radio"
                                                                                                   name="radio1"
                                                                                                   id="radio_02"
                                                                                                   value="option2">
                                                                                            <label for="radio_02">
                                                                                                F
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group">
                                                                                    <label class="control-label mb-10">Country</label>
                                                                                    <select class="form-control"
                                                                                            data-placeholder="Choose a Category"
                                                                                            tabindex="1">
                                                                                        <option value="Category 1">США
                                                                                        </option>
                                                                                        <option value="Category 2">
                                                                                            Россия
                                                                                        </option>
                                                                                        <option value="Category 3">
                                                                                            Индия
                                                                                        </option>
                                                                                        <option value="Category 4">
                                                                                            Англия
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-actions mt-10">
                                                                                <button type="submit"
                                                                                        class="btn btn-success mr-10 mb-30">
                                                                                    Update profile
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}

    <!-- Switchery JavaScript -->
    <script src="{% static 'js/switchery.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>

{% endblock extra_js %}