{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!-- Title -->
            <div class="row heading-bg">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h5 class="txt-dark">Интерфейс клиента</h5>
                </div>
                <!-- Breadcrumb -->
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'app:home' %}">Главная</a></li>
                        <li><a href="{% url 'app:search' %}">Поиск по артикулу</a></li>
                        {#                        <li><a href="#"><span>table</span></a></li>#}
                        {#                        <li class="active"><span>View</span></li>#}
                    </ol>
                </div>
                <!-- /Breadcrumb -->
            </div>
            <!-- /Title -->


            <!-- Main content -->
            {% if form %}
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-3"> {# <div class="col-sm-12"> #}
                        <div class="panel panel-default card-view">
                            <div class="panel-heading">
                                <div class="pull-left">
                                    <h6 class="panel-title txt-dark">Поиск аналогов из файла</h6>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-wrapper collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="form-wrap">
                                                <form enctype="multipart/form-data" action="{% url 'app:search_from_file' %}" method="post">
                                                    <div class="form-body">
{#                                                        <h6 class="txt-dark text-uppercase"><i#}
{#                                                                class="zmdi zmdi-info mr-10"></i>Основная информация#}
{#                                                        </h6>#}
{#                                                        <hr class="light-grey-hr"/>#}
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group {{ form.file.error_messages }}">
                                                                    <label class="control-label mb-10">{{ form.file.label }}</label>
                                                                    {{ form.file }}
                                                                    <span class="help-block">{{ form.file.help_text}} </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group"> <!-- has-error -->
                                                                    <label class="control-label mb-10">{{ form.manufacturer_from.label }}</label>
                                                                    {{ form.manufacturer_from }}
                                                                    <span class="help-block"> {{ form.manufacturer_from.help_text }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group"><!-- has-error -->
                                                                    <label class="control-label mb-10">{{ form.manufacturer_to.label }}</label>
                                                                    {{ form.manufacturer_to }}
                                                                    <span class="help-block"> {{ form.manufacturer_to.help_text }}</span>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>

                                                        <div class="form-actions mt-10">
                                                            <input type="submit" class="btn btn-success mr-10"
                                                                   value="Искать"/>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}


{% block extra_css %}
    <!-- Data table CSS -->
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block extra_js %}
    <!-- Data table JavaScript -->
    <script src="{% static  'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables-data.js' %}"></script>
    <!-- Owl JavaScript -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- Switchery JavaScript -->
    <script src="{% static 'js/switchery.min.js' %}"></script>

    <!-- Fancy Dropdown JS -->
    <script src="{% static 'js/dropdown-bootstrap-extended.js' %}"></script>

{% endblock extra_js %}